@model DetailsRestaurantDTO_out
@{
    var images = Model.Restarant.Pictures.Split("|").ToArray();
}
<div>

    <div class="d-flex justify-content-center w-75 flex-wrap">
        <h3> Данни за ресторант : @Model.Restarant.Name</h3>
        <h3> Рейтинг : @Model.Restarant.Rating</h3>
        <div id="carouselExampleControls" class="carousel slide w-50" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="@Model.Restarant.MainPic" class="d-block w-100" alt="...">
                </div>

                @foreach (string pic in images)
                {
                    <div class="carousel-item">
                        <img src="@pic" class="d-block w-100" alt="...">
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


        @foreach (var usr in Model.AllUsersData)
        {
            <p>@usr.UserName | @usr.Id</p>
        }
    </div>
   @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
    <div class="d-flex justify-content-between w-50 mx-auto mt-4">

        <form method="get" asp-action="Edit">
            <fieldset>
                <input type="hidden" name="id" value="@Model.Restarant.Id" />
                <button type="submit" class="btn btn-warning"><i class="fas fa-pencil-alt"></i> </button>
            </fieldset>
        </form>

        <form method="post" asp-action="Delete">
            <fieldset>
                <input type="hidden" name="id" value="@Model.Restarant.Id" />            
                <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> </button>
            </fieldset>
        </form>
    </div>
        
    }
</div>
